.App{
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  text-align: center;
  height: 100vh; /* 전체 높이를 설정 */
  overflow-y: auto; /* 수직 스크롤을 가능하게 함 */
  background-color: #fffffe;
}

html, body {
  margin: 0;
  padding: 0;
}

#header {
  margin-top: 0; /* 상단 마진 제거 */
  padding-top: 0; /* 상단 패딩 제거 */
}

.Slider{
  text-align: center;
}
.main-more-link {
  display: flex;
  justify-content: flex-end;
  right: 0;
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ListContainer {
  display: flex;
  justify-content: space-around; /* 변경: 리스트 사이의 간격을 균등하게 */
  gap: 20px; /* 리스트 사이의 간격 */
  width: 100%; /* 변경: 전체 너비를 차지 */
  max-width: 1200px; /* 변경: 최대 너비를 설정 */
  margin: 0 auto;
  align-items: baseline;
}

.noDot {
  list-style-type: none;
  text-align: left;
}

.removeDecoration {
  text-decoration: none; /* 링크의 밑줄을 제거 */
  color: black;
}

.slider-container {
  width: 80%;
  margin: 50px auto;
}

.second-slider-container {
  width: 50%;
  margin: 0 auto;
}

.notice-title {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .ListContainer {
    flex-direction: column; /* 변경: 모바일에서는 세로로 배치 */
    gap: 10px; /* 리스트 사이의 간격 */
  }
}

@media (max-width: 768px) {
  .ListContainer {
    flex-direction: column; /* 변경: 작은 화면에서는 세로로 배치 */
    gap: 10px; /* 리스트 사이의 간격 */
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.main-popup {
  width: 600px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.main-popup h1 {
  margin-top: 0;
}

.main-popup ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #e0e0e0; /* For Firefox */
}

.main-popup ul::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.main-popup ul::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.main-popup ul::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Color of the scrollbar track */
}

.main-popup ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.main-popup ul li:last-child {
  border-bottom: none;
}

.main-popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.main-popup button:first-of-type {
  margin-right: 10px;
}
